<span [ngSwitch]="oldal">
    <span *ngSwitchCase="'fooldal'" >
        <app-navigacio [kategoriak]="kategoriak"></app-navigacio>
        <span [ngSwitch]="kategoria">
            <span *ngSwitchCase="'informacio'" class="kontener">
                <app-informacio *ngFor="let item of informaciok;" [informacio]="item" appOnHover></app-informacio>
                <button mat-fab class="actionbtn" (click)="openLeirasok()"> <!-- kör alaku gomb egy ikon van benne általában -->
                    <mat-icon>add</mat-icon>
                </button>
            </span>

            <span *ngSwitchCase="'jatek'" class="kontener">
                <app-jatek></app-jatek>

            </span>
            <span *ngSwitchDefault class="kontener">
                <app-main></app-main>
            </span>
        </span>
    </span>
    <span *ngSwitchCase="'regisztracio'" >
        <app-regisztracio></app-regisztracio>
    </span>



    <span *ngSwitchDefault>
        <app-bejelentkezes></app-bejelentkezes>
    </span>
</span>
