
.margin-bottom {
    margin-bottom: 10px;
    width: 500px;
    margin: 50px auto;
  }
  
  

  .background{
    background-image: url('image5.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%; margin: 0px; padding: 0px; 
  
  } 