<section class="background">
<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button [routerLink]="[ '/' ]">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Profil</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <app-container >
  
    <mat-card class="margin-bottom">
      <mat-card-header>
        <mat-card-title>Biztonság és magánélet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>lock</mat-icon>
            <div mat-line> E-mail </div>
            <div mat-line> {{this.user?.email}} </div>
          </mat-list-item>
          <form [formGroup]="form1" (ngSubmit)="updatPassword()">
            <mat-form-field >
            
              <mat-label>Jelszó</mat-label>
              <input type="password" name="password" [type] = "hide ? 'password':'text'" matInput placeholder="Jelszó" formControlName="jelszo1">
              <mat-hint align="end">min. hossz 6 / {{form1.value.jelszo1.length}}</mat-hint>
              <mat-icon  matSuffix (click) = "hide = !hide">{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
            </mat-form-field>
          <button type="submit" mat-raised-button color="primary"  [disabled] = "form1.invalid">MÓDÓSÍTÁS</button>
        
        </form>
          
        </mat-list>
      </mat-card-content>
    </mat-card>
   
  
    
  </app-container>
  </section>