<mat-toolbar>
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  
  
  <section class="background">
  <app-container classes="container-2 flex">
     <ng-container *ngIf= "(lista$) | async as lista; else loadingOrError"> 
       <app-informacio class="elem" *ngFor="let elem of lista$ | async " [informacio]="elem" (getInformacio)="onGetInformacio($event)"></app-informacio>
      <br> 
    </ng-container>  
    <ng-template #loadingOrError>
      <ng-container *ngIf="error; else loading">
        <span class="toltes">
          Valami hiba történt!
        </span>
      </ng-container>
      <ng-template #loading>
        <span class="toltes">
          <mat-spinner></mat-spinner>
        </span>
      </ng-template>
    </ng-template>
  </app-container>


  <button mat-fab class="action-btn" (click)="openLeirasok()"  >
    <mat-icon>add</mat-icon>
  </button>
  </section>