.toltes {
  
  top: 0;
  left: 0;
  position: fixed;
  width: 110vw;
  height: 110vh;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
    

  }

  .action-btn{
    position: fixed;
  bottom: 16px;
  left: 16px;
    }

     .background{
      background-image: url('image5.jpg');
      background-size: cover;
      background-position: center center;
      height: 100%; margin: 0px; padding: 0px; 
      
    } 
   


