<h1>Sodoku Játék Szabályai</h1>
<ul>
    <li>
        Egy sorban és egy oszlopba csak egyszer fordulhat elő ugyan az a szám!
    </li>
    <li>
        Amennyiben rossz szám kerül megadásra,a játék piros számmal fogja ezt jelezni <br>
         és  csökkeni fog a jelenlegi életek száma  
    </li>
    <li>
        Helyes válasz megadása esetén a jelenlegi pontszám növekedni fog. 
    </li>
    <li>
        Amikor a játék véget ér egy felugró ablakban meg kell adni a felhasználó nevét <br>
         és ezzel automatikusan a toplistára kerül.
    </li>
</ul>