<h1>Sudoku Játék Szabályai</h1>
<ul>
    <li>
        1-től 9-ig kell elhelyezni úgy a számokat, hogy minden egyes számjegy csak egyszer <br> 
        szerepelhet minden sorban és oszlopban, illetve a sötét kerettel határolt 3x3-as négyzetekben.
        
    </li>
    <li>
        Amennyiben rossz szám kerül megadásra,a játék piros számmal fogja ezt jelezni <br>
         és  csökkeni fog a jelenlegi életek száma  
    </li>
    <li>
        Helyes válasz megadása esetén a jelenlegi pontszám növekedni fog. 
    </li>
    <li>
        Amikor a játék véget ér egy felugró ablakban meg kell adni a felhasználó nevét <br>
         és ezzel automatikusan a toplistára kerül.
    </li>
</ul>