<!-- <mat-toolbar >
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar> -->

<section class="background">

 <button mat-fab class="action-btn" (click)="openSegitseg()"  >
    <mat-icon>informacio</mat-icon>
  </button> 

  <button mat-raised-button  (click) = "visibility()">
    ZENE
  </button>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="jatek.component.scss"> 

      <title>Document</title>
  
    </head>

    <body>

        
       
    <div id="music" *ngIf="show" >

        
        
        <ul>
            <li id="list" *ngFor="let file of files" (click)="openFile(file.url)">{{file.name}}</li>
        </ul>
        <div >
        <button mat-raised-button color = "primary" (click) = "play()">
        <mat-icon>start</mat-icon>
        </button>
        <button mat-raised-button color = "primary" (click)="pause()"><mat-icon>pause</mat-icon></button>
        <button mat-raised-button color = "primary" (click)="allj()"><mat-icon>stop</mat-icon></button>
        
    </div>

    <div>
        <span>{{currentTime}}</span>

        <input  type="range" min="0" max="{{duration}}" [value]="seek" (input)="setSeekTo($event)">

        <span>{{duration}}</span>
    </div>
    <div>
        <span>volume</span> <!-- ezzel állítottam be a hangerőt -->
        <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
        
    </div>

</div>
      
        <header>
    
            <h1 id="sodoku">Sudoku</h1>
            <div id="setup-game">
    
                <div id="nehezseg">
                    <h3>Válaszon nehézséget!:</h3>
                    <label><input id="nehezseg-1" type="radio" name="nehezseg" value="konnyu" checked >Könnyű</label>
                    <label><input id="nehezseg-2" type="radio" name="nehezseg" value="kozepes" >Nehéz</label>
                    <label><input id="nehezseg-3" type="radio" name="nehezseg" value="nehez" >Profi</label>
                     
                </div>
    
                <div id="ido">
                    <h3>Idő</h3>
                    <label><input id="ido-1" type="radio" name="ido" value="harom" checked >3 perc</label>
                    <label><input id="ido-2" type="radio" name="ido" value="ot" >5 perc</label>
                    <label><input id="ido-3" type="radio" name="ido" value="tiz" >10 perc</label>
    
                </div>
    
          
            </div>
            <button mat-raised-button id="start-btn" (click)="callfun()">Kezdjen egy új játékot!</button>
        <button mat-raised-button id="stop-btn" (click)="stop()">Stop</button> 
        
    
        </header>
        <div id="stats">
            <p id="idozito"></p>
            <p id="eletek"></p>
            <p id="pontszam"></p>
        </div> 
        <div id="game">
            <div id="tabla"></div>
           
            <div id="lehetsegesszamok" class="hidden">
                <p id="egy">1</p>
                <p id="ketto">2</p>
                <p id="harom">3</p>
                <p id="negy">4</p>
                <p id="ot">5</p>
                <p id="hat">6</p>
                <p id="het">7</p>
                <p id="nyolc">8</p>
                <p id="kilenc">9</p>
                
            </div>
            <div class="ujtoplista" id="newlist"> Top Lista: </div>
            <div class="toplista" id="top_lista">  </div>
          
        </div>
           
    </body>
    </html>

</section>
    