<mat-toolbar >
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

<section class="background">
  
 <mat-card class="card" style="color:black;">

     <h1> Kedves Látógató!</h1>

    <h2>Örülök, hogy az oldalamra találtál.</h2>
    <h2>Remélem hasznos lesz számodra és sok örömödet leled benne</h2>
    <h2>Mindenképpen olvasd el a többi felhasználó által adott hasznos tanácsokat is.</h2>
    <h2>Majd játsz egyet a közkedvelt sodoku játékkal</h2>



 <div class="main_kategoria">
    <mat-card *ngFor="let item of kategoriak" matRipple [matRippleColor]="item.color"
       [routerLink] = "[item.url]">
        <!--  a matrippel adneki egy ilyen kattintási  -->
        {{item.title}}
    </mat-card>
</div>  

</mat-card> 


    
</section>
