.hiba{
    text-align: center;
    margin: 13px -13px;
    color: rgb(194, 56, 38);
    background-color: rgb(238, 198, 192);
    border: 1px solid rgb(229, 143, 150);
    line-height: 60px;
    height: 60px;
    border-radius: 12;
    
  
}

.background{
    background-image: url('image5.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%; margin: 0px; padding: 0px; 
    
  } 
 