mat-card{
 

    height: 50px;
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
   
    
}

mat-card:hover{
    color: #607d8b;
 
    left: 0.1em;
}