/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

$mat-primary-scheme: (
  100: #c5cae9,
  500: #61699a,
  700: #303f9f,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #ffffff,
    700: #ffffff,
  ),
);
$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
  @include angular-material-theme($app-dark-theme);

  background-color: #333;
  color: whitesmoke;
}

 html,
body {
  height: 100%;
/*  background:#c5cae9;
  color: white;  */
} 

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.szeleseg {/* button a bejelentekzésnél */
  width: 100%;
}

.kozpont {/* bejelentkezés és regisztráció középre helyezése */
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
}

.bejelent,
.regiszt {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) { /* bejelentkezés panel, media query használata mindig 100 de ha kijelző kisebb mint 768 px akkor legyen az alsó  */

  .bejelent,
  .regiszt {
    max-width: 33em;
    min-height: 30em;
    height: auto;
  }
}

.elem {
  flex: 1 1;
  min-width: 200px;
  margin: 8px;
  cursor: pointer;
  
}


/* mat-toolbar{
  background: #9499b7
} */

 .hidden{
  display:none;
} 

/* body.dark{
  background-color: #333333;
  color: white;
} */

header {
  text-align: center;
  padding-bottom: 10px;
  

}

#sodoku{
    font-size: 55px;
}

#setup-game{
  display: flex;
  justify-content: center;
}

#setup-game > * {
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items:center;
} 
button{
  justify-self: center;
}

p#idozito, p#eletek, p#pontszam{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
} 

#game{
  display: flex;
  justify-content: center;
  
}
#fejlec{
  display: flex;
  justify-content: center;
  
}

#lehetsegesszamok > p {
  border: 1px solid black;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
    text-align: center;
} 


 #tabla{
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 600px;
  height: 600px;
  
} 

.lap{
  border: 1px solid black;  
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0;
  vertical-align: middle; 
  font-size: 20px;
 
  margin-block-start: 0;
  margin-block-end: 0;
  

}

a.selected{
  background-color: lightblue;
  
}

a.incorrect{
  color: red;
}

.rightBorder{
  border-right: 4px solid black;

}

 .bottomBorder {
  border-bottom: 4px solid black;
} 

#top_lista {
	width: 315px;
	height: 409px;
	float: right;
	border: 0.1em solid black;
	
	text-align: center;
	
	font-family: Arial;
	font-weight: bolder;
  padding-top: 10px;
  margin-top: 20px;
 
}
.toplista{
  display:none;

}

.ujtoplista {
	 
  display: none;


}

#newlist{

  font-family: Arial;
	font-weight: bolder;
	font-size: 25px;
}





