.container {
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  @media (min-width: 992px) {
    .container {
      width: calc(961px - 230px);
    }
  } 
  
  @media (min-width: 1440px) {
    .container {
      width: calc(1170px - 280px);
    }
  }
  

  
   .container.flex {
    opacity:0.9;
     display: flex; 
    flex-wrap: wrap;
 
  } 