<mat-toolbar>
<mat-toolbar-row>
 <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
 <a mat-button [routerLink]="[ '/fooldal/main' ]">
  Időskori demencia
 </a>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink] ="['/fooldal/main']">
    <mat-icon>home</mat-icon>
    <span>Főoldal</span>
  </button>
  <button mat-menu-item [routerLink] ="['/fooldal/jatek']">
    <mat-icon>games</mat-icon>
    <span>Játék</span>
  </button>
  <button mat-menu-item [routerLink] ="['/fooldal/informaciok']">
    <mat-icon>person</mat-icon>
    <span>Tanácsok</span>
  </button>
</mat-menu> 

<span style="flex: 1 1;"></span>
<mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode" > 
  Szín
</mat-slide-toggle>
<button mat-button [matMenuTriggerFor]="menu2">
 
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu2="matMenu">
  <button mat-menu-item [routerLink] ="['/profil']">
    <mat-icon>person</mat-icon>
    <span>Profil</span>
  </button>
 
  <button mat-menu-item (click)="kijelentkezes()">
    <mat-icon>arrow_back</mat-icon>
    <span>Kijelentkezés</span>
  </button>
</mat-menu>


</mat-toolbar-row>
</mat-toolbar>
